@font-face {
  font-family: 'RainyHearts';
  src: url('../font/RainyHearts.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothicPixels';
  src: url('../font/GothicPixels.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'RainyHearts', monospace;
  --gothic-font: 'GothicPixels', monospace;
  color-scheme: dark;
  --font-color: #d6d6d6;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
}

* {
  box-sizing: border-box;
}
