/* Progress bar seek target */
.progress-seek {
  position: absolute;
  left: calc((140 - 110) / 306 * 100vw);
  top: calc((469 - 23) / 306 * 100vw);
  width: calc(241 / 306 * 100vw);
  height: calc(6 / 306 * 100vw);
  z-index: 150;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
